<div class="container  my-3">
  <div class="row">
    <div class="col-md-4 col-sm-6 text-center">

      <div class="row">
        <div class="col-10 ml-5">
          <span class="pull-left stats-icon icon-storecoupon">
            <fa name="cart-arrow-down" animation="none"></fa>
          </span>
          <div class="stats-text mt-2">
            <div class="stats-num">158.134</div>
            <div class="stats-title">Total artículos</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <div class="row">
        <div class="col-10 ml-5">
          <span class="pull-left stats-icon icon-storecoupon">
            <i class="fa fa-map-marker"></i>
          </span>
          <div class="stats-text mt-2">
            <div class="stats-num">158.134</div>
            <div class="stats-title">Tiendas activas</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <div class="row">
        <div class="col-10 ml-5">
          <span class="pull-left stats-icon icon-storecoupon">
            <i class="fa fa-users"></i>
          </span>
          <div class="stats-text mt-2">
            <div class="stats-num">158.134</div>
            <div class="stats-title">Usuarios activas</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>