<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/img/tienda-online.svg" width="50" height="50" class="d-inline-block align-center" alt=""> Tienda Online Web
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="usuario">
        <a class="nav-link" routerLink="/home-productos" routerLinkActive="active">Productos</a>
      </li>
      <li class="nav-item" *ngIf="usuario">
        <a class="nav-link" routerLink="/stock" routerLinkActive="active">Stock</a>
      </li>
      <li class="nav-item" *ngIf="usuario">
        <a class="nav-link" routerLink="/mis-compras" routerLinkActive="active">Mis Compras</a>
      </li>
      <li class="nav-item" *ngIf="usuario">
        <a class="nav-link" routerLink="/ingreso-productos" routerLinkActive="active">Ingreso Productos</a>
      </li>
      <li class="nav-item" *ngIf="usuario">
        <a class="nav-link" routerLink="/gestion-productos" routerLinkActive="active">Gestión Productos</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0 mr-10">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/" *ngIf="usuario">Perfil</a>
            <a class="dropdown-item" routerLink="/" href="#" *ngIf="usuario">Cambio Contraseña</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/login" *ngIf="!usuario">Login</a>
            <a class="dropdown-item" routerLink="/" (click)="logout()" *ngIf="usuario">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>