<!-- <div style="background-color: #f4f4f4;"> -->
  <div class="container my-4 py-3">

    <!-- HEADER -->
    <div class="row align-items-center justify-content-between">

      <!-- APP TITLE -->
      <div class="col-12 col-sm">
        <div class="h4">Invevtario de productos</div>
        <div class="">Total Productos: {{productos.length}}</div>
      </div>
      <!-- / APP TITLE -->


    <h2>{{errorMsg}}</h2>


    <table class="table table-striped my-4">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Precio</th>
              <th scope="col">Descuento</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{producto.nombre}}</td>
              <td>{{producto.precio}} USD</td>
              <td>{{producto.descuento}} %</td>
              <td>{{producto.cantidad}} items</td>
            </tr>
          </tbody>
    </table>

  </div>
<!-- </div> -->