<!-- <div style="background-color: #f4f4f4;"> -->
<div class="container my-4 py-3">

  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <h4 class="mb-3">Nuevo Productos</h4>
      <hr/>
      <span class="alert alert-danger my-3" *ngIf="errorMsg">
        {{errorMsg}}
      </span>

      <form class="form-horizontal" (ngSubmit)="sendNewProduct()" #newProductForm="ngForm" novalidate>

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" id="titulo" placeholder="Titulo" required [(ngModel)]="newProducto.nombre" name="titulo"
            #titulo="ngModel">
          <div class="form-text text-danger" *ngIf="(titulo.touched || titulo.dirty) && titulo.errors">
            <small *ngIf="titulo.errors.required">
              Titulo es requerido!
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Descripción" required [(ngModel)]="newProducto.descripcion"
            name="descripcion" #descripcion="ngModel">
          <div class="form-text text-danger" *ngIf="(descripcion.touched || descripcion.dirty) && descripcion.errors">
            <small *ngIf="descripcion.errors.required">
              Descripción es requerido!
            </small>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="precio">Precio</label>
            <input type="number" class="form-control" id="precio" placeholder="Precio" required [(ngModel)]="newProducto.precio" name="precio"
              #precio="ngModel">
            <div class="form-text text-danger" *ngIf="(precio.touched || precio.dirty) && precio.errors">
              <small *ngIf="precio.errors.required">
                Precio es requerido!
              </small>
            </div>
          </div>

          <div class="col-md-6 form-group">
            <label for="descuento">Descuento</label>
            <input type="number" class="form-control" id="descuento" placeholder="Descuento" required [(ngModel)]="newProducto.descuento"
              name="descuento" #descuento="ngModel">
            <div class="form-text text-danger" *ngIf="(descuento.touched || descuento.dirty) && descuento.errors">
              <small *ngIf="descuento.errors.required">
                Descuento es requerido!
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="categoria">Categoría</label>
            <select id="select" name="periodicidad" class="form-control" [(ngModel)]="categoria">
              <option value="Seleccione Categoría" style="color:#008752 !important" disabled selected>Seleccione Categoría</option>
              <option *ngFor="let cat of categorias" [(value)]="cat.id">{{cat.nombre}}</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label for="cantidad">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" placeholder="Cantidad" required [(ngModel)]="newProducto.cantidad"
              name="cantidad" #cantidad="ngModel">
            <div class="form-text text-danger" *ngIf="(cantidad.touched || cantidad.dirty) && cantidad.errors">
              <small *ngIf="cantidad.errors.required">
                Cantidad es requerido!
              </small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="url">URL Imagen</label>
          <input type="text" class="form-control" id="url" placeholder="URL Imagen" required [(ngModel)]="newProducto.url" name="url"
            #url="ngModel">
          <div class="form-text text-danger" *ngIf="(url.touched || url.dirty) && url.errors">
            <small *ngIf="url.errors.required">
              URL es requerido!
            </small>
          </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-2">
                <button type="submit" class="btn btn-success" [disabled]="!newProductForm.form.valid">Guardar</button>
            </div>
            <div class="col-2">
                <button class="btn btn-danger" routerLink="/gestion-productos">Cancelar</button>
            </div>
          </div>

      </form>
    </div>
  </div>

</div>
<!-- </div> -->