<!-- <div style="background-color: #f4f4f4;"> -->
    <div class="container my-4 py-3">
  
      <!-- HEADER -->
      <div class="row align-items-center justify-content-between">
  
        <!-- APP TITLE -->
        <div class="col-12 col-sm">
          <div class="h4">Products</div>
          <div class="">Total Productos: {{productos.length}}</div>
        </div>
        <!-- / APP TITLE -->
  
        <!-- SEARCH -->
        <div class="col px-2">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-icon">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <input id="products-search-input" type="text" class="form-control" placeholder="Search" aria-label="Search" />
          </div>
        </div>
        <!-- / SEARCH -->
  
        <div class="col-auto">
          <a routerLink="/nuevo-producto" class="btn btn-default">AGREGAR PRODUCTO</a>
        </div>
      </div>
      <!-- / HEADER -->
  
  
      <h2>{{errorMsg}}</h2>
  
  
      <table class="table table-striped my-4">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Precio</th>
                <th scope="col">Descuento</th>
                <th scope="col">Cantidad</th>
                <th class="text-center" scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}} USD</td>
                <td>{{producto.descuento}} %</td>
                <td>{{producto.cantidad}} items</td>
                <td class="text-center">
                    <fa name="edit" class="mr-2"></fa>
                    <fa name="trash"></fa>
                </td>
              </tr>
            </tbody>
      </table>
  
    </div>
  <!-- </div> -->